[submodule "tai_ac400/oopt-tai"]
	path = tai_ac400/oopt-tai
	url = https://github.com/Telecominfraproject/oopt-tai.git
[submodule "tai_mux/oopt-tai"]
	path = tai_mux/oopt-tai
	url = https://github.com/Telecominfraproject/oopt-tai.git
[submodule "tai_sff/oopt-tai"]
	path = tai_sff/oopt-tai
	url = https://github.com/Telecominfraproject/oopt-tai
